examples/sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Employee">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="employee_id" type="xs:integer"/>
        <xs:element name="first_name" type="xs:string"/>
        <xs:element name="last_name" type="xs:string"/>
        <xs:element name="email" type="xs:string"/>
        <xs:element name="department" type="xs:string"/>
        <xs:element name="salary" type="xs:decimal" minOccurs="0"/>
        <xs:element name="hire_date" type="xs:date"/>
        <xs:element name="is_manager" type="xs:boolean" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
